.main-content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.post {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  max-width: 100%;
  border: 3px solid var(--theme-accent-less);
  border-radius: 4px;
}

.post-container {
  display: flex;
  align-items: flex-start;
}

.post-container img {
  width: 300px;
  height: auto;
}

.preview {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0 10px 20px;
}

.post-description {
  line-height: 1.3em;
}

@media (max-width: 900px) {
  .post-container {
    flex-direction: column;
  }

  .post-container img {
    order: 2;
    align-self: center;
    width: 90%;
    margin: 1em 0;
    border-radius: 6px;
  }
}
