header {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-around;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  height: 250px;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--theme-page-background);
}

header .about {
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

header .about-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: var(--theme-accent-less);
}

header .about-text {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  flex: 2;
}

header .about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

header .about-img img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

header .info {
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  justify-content: space-between;
}

header .info div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 110px;
  padding: 5px 0 5px 20px;
  background-color: var(--theme-accent-less);
}

header .info h2 {
  text-transform: uppercase;
}

header .info p {
  font-size: 100%;
}

header .progressBars {
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  justify-content: center;
}

header .progressBars-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 0 5px 20px;
  height: 100%;
  background-color: var(--theme-accent-less);
}

header .book-progress-bar {
  display: flex;
  flex-direction: column;
  width: 90%;
}

header .bar-title {
  font-size: 100%;
  transform: translateY(-6px);
}

header .bar-container {
  display: flex;
  flex-direction: row;
}

header .bar {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-right: 10px;
}

header .bar-progress {
  height: 20px;
  background-color: #3a7d44;
}

@media (max-width: 900px) {
  header {
    display: none;
  }

  /* header {
    display: flex;
    flex-flow: column nowrap;
  } */
}
