.main-panel {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.admin {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 57px);
  width: 100%;
  color: var(--theme-page-text);
}

.admin > .menu {
  padding: 10px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  background-color: var(--theme-accent-less);
}

.options {
  width: 100%;
}

.options > h3 {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 10px;
}

.options > ul {
  padding: 0;
  width: 100%;
  list-style: none;
}

.options > ul li {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}

.options > ul li:hover {
  background-color: var(--theme-page-background);
  color: var(--theme-accent);
  border-left: var(--theme-accent) 3px solid;
  cursor: default;
}

.active {
  background-color: var(--theme-page-background);
  color: var(--theme-accent);
  border-left: var(--theme-accent) 3px solid;
}

.options > ul li a {
  text-decoration: none;
  display: block;
  padding: 0 0 0 5px;
}

.admin > .settings {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 2% 0 2%;
  box-sizing: border-box;
}

.settings > h1 {
  line-height: 90px;
  width: 100%;
  height: 20%;
}

.settings > .preview {
  width: 100%;
  padding: 0;
}

.settings > .createPost {
  display: flex;
  flex-direction: row;
  flex: 3;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--theme-accent-less);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
}

.settings > .headerSettings {
  display: flex;
  flex-direction: row;
  flex: 3;
  width: 80%;
  padding: 10px 0;
}

.createPost > form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.headerSettings > form {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bookProgressContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
}

.bookProgressContainer span,
.headerSettings span {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: red;
  box-sizing: border-box;
  padding-top: 10px;
  cursor: pointer;
}

.bookProgressContainer span:hover,
.headerSettings span:hover {
  transform: scale(1.1, 1.1);
}

.bookProgressContainer p {
  width: 250px;
}

.show-limit {
  margin: 10px 0px 20px 10px;
}

.save-button {
  background: var(--theme-accent);
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 4px;
  color: #f1f1f1;
  font-size: 16px;
}

.headerSettings input[type="text"],
textarea {
  width: 220px;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  border: none;
  background: var(--theme-accent-less);
  color: var(--theme-page-text);
  resize: none;
}

.bookProgressContainer input[type="text"] {
  width: 50px;
  margin: 0;
  text-align: center;
}

.createPost input[type="text"],
textarea {
  width: 90%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  border: none;
  background: var(--theme-page-background);
  color: var(--theme-page-text);
  resize: none;
}

input[type="text"]:focus,
textarea:focus {
  border: var(--theme-accent) 2px solid;
  outline: none;
}
