.light {
  --theme-page-background: #e6e6e6;
  --theme-page-text: #1f1e1f;
  --theme-accent: #137000;
  --theme-accent-less: #f5f5f5;
  --theme-accent-less-less: #bacdb0;
}

.dark {
  --theme-page-background: #1f1e1f;
  --theme-page-text: #f5f5f5;
  --theme-accent: #52a372;
  --theme-accent-less: #2e2c2f;
  --theme-accent-less-less: #bacdb0;
}
